nav {
    position: fixed;
    top: 0;
    height: $height-nav;
    width: 100%;
    background: $background-nav;
    z-index: 2;

    .container {
      height: $height-nav;
      justify-content: space-between;
    }

    .nav-icon {
      width: 35px;
      height: 26px;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
          display: block;
          position: absolute;
          height: 5px;
          width: 100%;
          background: $font-color;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out;

          &:nth-child(1) {
            top: 0px;
            transform-origin: left center;
          }

          &:nth-child(2) {
            top: 9px;
            transform-origin: left center;
          }

          &:nth-child(3) {
            top: 18px;
            transform-origin: left center;
          }
        }
    }

    ul.unstyled {
      display: none;
      position: absolute;
      top: 65px;
      right: 19px;

      li {
        padding: 1rem 1.2rem;
        display: block;
        background: $font-color;

        &:first-child {
          border-right: 2px solid $font-color;
        }

        &:hover {
            background-color: $buttons-color;
            text-decoration: underline;
        }
      }

      a {
          color: $overlay-color;
          text-decoration: none;

          &:hover {
            cursor: pointer;
            color: $font-color;
          }
      }

    }

    @media (min-width: ($screen-breakpoint-medium)) {
        .nav-icon {
            display: none;
        }

        ul.unstyled {
            display: block;
            position: inherit;
            top: 0;
            right: 0;

            li {
              padding: 0 1.2rem;
              display: inline;
              background: inherit;

              &:hover {
                  background-color: inherit;
              }

              &.btn {
                  background-color: $buttons-color;
                  padding: 10px 20px;
              }
            }

            a {
              color: $font-color;
            }
        }
    }
}
