// Variables
$font-family: 'Roboto', sans-serif;
$font-color: #fff;
$font-size: 14px;

$buttons-color: #ec1828;

$screen-breakpoint-medium: 769px;
$screen-breakpoint-small: 376px;

// Overlay
$overlay-color: #000;
$overlay-opacity: .6;

// Nav
$background-nav: #000;
$height-nav: 100px;

// Footer
$background-footer-gradient-dark: #3c3c45;
$background-footer-gradient-grey: #55494d;
$background-footer-gradient-light: #3c445b;

// Banner divider
$banner-divider-color: #8f8d8b;
